[Unit]
Description=Daily automatic Flatpak updates (Firefox, Telegram)

[Timer]
OnBootSec=10min
OnUnitActiveSec=1d
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
